{% extends 'admin.twig' %}
{% set title %}{{ 'PrivacyManager_Compliance'|translate }}{% endset %}

{% block content %}
    <div class="compliance" vue-entry="PrivacyManager.Compliance"></div>
{% endblock %}