<nav>
    <div class="nav-wrapper">
        <a href="javascript:$('a[name=main]')[0].scrollIntoView()" tabindex="1" class="accessibility-skip-to-content">{{'CoreHome_SkipToContent'|translate}}</a>
        {% include "@CoreHome/_logo.twig" %}
        {% include "@CoreHome/_topBar.twig" %}
    </div>
</nav>