name: Build and Push Matomo Image

on:
  push:
    [cite_start]branches: [ "main" ] # Se ejecuta al hacer push en master 

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: ./ejercicio-2
          push: true
          # Cambia 'tu_usuario' por tu usuario real de Docker Hub
          tags: yedrags04/matomo-custom:latest